html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html {
  scroll-behavior: smooth;
  // background: gray;
}

body {
  
  position: absolute;
  color: black;
  background: white;
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  // background: radial-gradient(ellipse at center,  darken(white, 50) 10%, darken(white, 100) 90%); /* W3C */
  // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMTAlIiBzdG9wLWNvbG9yPSIjNGI2Y2I3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMTgyODQ4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  // background: -moz-radial-gradient(center, ellipse cover,  darken(white, 50) 10%, darken(white, 100) 90%); /* FF3.6+ */
  // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,darken(white, 50)), color-stop(90%,darken(white, 100))); /* Chrome,Safari4+ */
  // background: -webkit-radial-gradient(center, ellipse cover,  darken(white, 50) 10%,darken(white, 100) 90%); /* Chrome10+,Safari5.1+ */
  // background: -o-radial-gradient(center, ellipse cover,  darken(white, 50) 10%,darken(white, 100) 90%); /* Opera 12+ */
  // background: -ms-radial-gradient(center, ellipse cover,  darken(white, 50) 10%,darken(white, 100) 90%); /* IE10+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b6cb7', endColorstr='#182848',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
  // background-attachment: fixed;
  // background-color: darken(white, 100); /* Old browsers */

  //  animation: example 1s;
  //  -webkit-animation: example 1s;
}

section {
  display: flex;
  flex: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.menu {
  position: absolute;
        z-index: 1;
        right: 0;
        text-align: right;
        padding: 1rem;
        top: 0;
        cursor: pointer;
        width: 100%;
        // height: 97%;
        a{
          color: white; z-index: 0;
        }
}

#nav {
    // display: none;
    background-color:transparentize($color: white,$amount: 0.1);
    right: 1rem;
    z-index: 2;
    justify-content: center;
    align-items: center;
    // height: 97%;
    // padding-top: 36vh;
    // padding-bottom: 36vh;
    height: 90vh;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    // opacity: 0;
    h2{
      margin-top: 1rem;
      background-color: black;
      color: white;
      display: flex;
      align-self: flex-start;
      position: absolute;
      a {
        
        color: white;
        line-height: 0.8;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0;
    &:hover {
      border-bottom: none;
      color: black;
      background-color: transparentize($color: white,$amount: 0.1);
      border: 1px solid black;
    }
      }
    }
    a{
    color: black;
    font-size: 5rem;
    text-decoration: double;
    padding: 1rem;
    
    &:hover{
      //font-size: 4rem;
      font-weight: 700;
      // background-color: black;
      // color: white;
      text-decoration: double;
      transition: all 0.03s;
      -webkit-transition: all 0.03s;
      -moz-transition: all 0.03s;
      -ms-transition: all 0.03s;
      -o-transition: all 0.03s;
      border-bottom: 0.5rem solid black;
}
  }
}
.inicio {
  background-color: #e6e6e6;
  // background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
  // background-image: url('../img/11882.jpg');
  background-size: cover;
  // opacity: 0.5;
  // width: 0;
  &.show {
    width: 100%;
  }
}



.isol a {
  
  // background-image: linear-gradient(to left, white, white,white,white,white,white,white,white,white,white,white,transparent);
  
  // background: linear-gradient(0.95turn, #333,  #eee);
  // background: linear-gradient(17deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  //           linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  //           linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  color: transparent;
  // text-shadow: #fff 2px 2px 2px;
   background: linear-gradient(to left, #000,  #fff 10%, #fff 100%, #000 50%);
  background-clip: text;
  -webkit-background-clip: text; 
  animation: letras 3s linear infinite;
  -webkit-animation: letras 3s linear infinite;
  background-size: 50%;
}
.abajo {
  position: absolute;
    z-index: 1;
    text-align: center;
    padding: 1rem;
    bottom: 5%;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 2rem;
    animation: flota 1.2s linear infinite;
  -webkit-animation: flota 1.2s linear infinite;
    
}
@keyframes letras {
  0%{
    background-position: 0% 100%;
  }
  /* 50%{
    background-position: 100% 0%;
  } */
  100%{
    background-position: 100% 0%;
  }
}

.division {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 100% 100%;
  flex-direction: row;
  div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 50%;
    align-items: center;
    justify-content: center;

    button {
      padding: 0 2em;
      margin: 1.5em;
      line-height: 4;
      position: relative;
      border-color: gray;
      &:hover {
        cursor: pointer;
      }
    }
    &:first-child {
      background-color: black;
      // background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
      color: white;
      button {
        color: white;
        background-color: black;

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background: white;
          position: absolute;
          right: 0;
          bottom: -1px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
        }
        &:hover:before {
          width: 100%;
        }
      }
    }

    &:nth-child(2) {
      background-color: #fff;
      color: black;
      button {
        color: black;
        background-color: white;

        &:before {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background: black;
          position: absolute;
          left: 0;
          bottom: -1px;
          transition: all 0.3s;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
        }
        &:hover:before {
          width: 100%;
        }
      }
    }
  }
}
  /* .book {
  width: 0;
  opacity: 0;
transition: all 01s;
  -webkit-transition: all 01s;
  -moz-transition: all 01s;
  -ms-transition: all 01s;
  -o-transition: all 01s; 
  &.show{
    /* transition: all 01s;
  -webkit-transition: all 01s;
  -moz-transition: all 01s;
  -ms-transition: all 01s;
  -o-transition: all 01s; 
  width: 10%;
    opacity: 1;
    transition: all 0.1s;
  }
}*/
h1 {
  font-size: 195px;
  font-weight: 700;
  letter-spacing: normal;
  position: relative;
  line-height: 0.8;
  opacity: 1;
  /* animation: centro 0.7s;
             transition: all 0.3s;
             -webkit-transition: all 0.3s;
             -moz-transition: all 0.3s;
             -ms-transition: all 0.3s;
             -o-transition: all 0.3s; */
  //-webkit-transition: color 2s, font-size 1s, opacity 1s;
  //-moz-transition: color 2s, font-size 1s, opacity 1s;
  //-o-transition: color 2s, font-size 1s, opacity 1s;
  //transition: color 2s, font-size 1s, opacity 1s;
  /*animation: centro 2s, grande 1s;
             animation:  vuelta 1s, abajo 1s;
             -webkit-animation: centro 0.7s;
             -webkit-animation: centro 2s, grande 1s;
             animation-direction: alternate;
                          */
  span {
    letter-spacing: 30px;
    text-align: right;
    font-weight: 100;
    font-size: 30px;
  }

  &:hover {
    //  color: black;
    transform: rotateX(55deg);
    -webkit-transform: rotateX(55deg);
    -moz-transform: rotateX(55deg);
    -ms-transform: rotateX(55deg);
    -o-transform: rotateX(55deg);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
  }
}

// h1:hover {
//     font-size: 40px;
//     color: #fc0;
//     opacity: 1;
// }
p {
  line-height: 1;
}

.izquierda {
  position: relative;
  text-align: right;
  // animation:izquierda 3s;
  // -webkit-animation:izquierda 3s;
  p {
    margin-bottom: 1rem;
  }
}
.derecha {
  position: relative;
  text-align: left;
  // animation: derecha 1s;
  // -webkit-animation: derecha 1s;
  p {
    margin-bottom: 1rem;
  }
}

.centro {
  animation: centro 0.5s;
  -webkit-animation: centro 0.5s;
  text-align: center;

  p {
    margin-top: -3.5rem;
    font-size: 15px;
    letter-spacing: 3px;
  }
}

.contacto {
  border-left: 1px solid black;
  right: 1000;
  
}

button {
  border: 1px solid black;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
}

.portafolio {
  background-color: white;
  background-image: url('../img/book.svg');
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.portafolio, .redes {
  flex-direction: column;
  color: black;
}

.redes {
  background: gray;
}

.contacto- {
  // opacity: 0;
  background-color: gray;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

.fade-in {
  opacity: 1;

  -webkit-animation: fadein 01s;
     -moz-animation: fadein 01s;
      -ms-animation: fadein 01s;
       -o-animation: fadein 01s; 
          animation: fadein 01s;


          
          
}

.entra {
  -webkit-animation: derecha 01s;
  -moz-animation: derecha 01s;
   -ms-animation: derecha 01s;
    -o-animation: derecha 01s; 
       animation: derecha 01s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}





@keyframes example {
  from {
    background-color: darken(white, 0);
  }
  to {
    background-color: darken(white, 100);
  }
}

@keyframes izquierda {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes derecha {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes centro {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 00%;
  }
}
@keyframes vuelta {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes abajo {
  to {
    margin-bottom: 0;
  }
  from {
    margin-bottom: 100%;
  }
}
@keyframes grande {
  from {
    font-size: 19px;
  }
  to {
    font-size: 195px;
  }
}


@keyframes flota {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 0.5rem;
  }
  100% {
    margin-bottom: 0;
  }
}